<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Aidentify, treats predictor </title>
    <link rel="icon" type="image/x-icon" href="img/favicon_2.ico">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="img/Aidentify_logo_small_2.png" class="bi me-2" width="45" height="45"><use xlink:href="#bootstrap"></use></img>
                <span class="fs-4">Aidentify
                </span>
          </a>
          <ul class="nav nav-pills">
          <li class="nav-item"><a href="index.html" class="nav-link px-2 link-secondary" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="features.html" class="nav-link  px-2 link-secondary">Features</a></li>
          <li class="nav-item"><a href="results.html" class="nav-link  px-2 link-secondary">Prediction</a></li>
          <li class="nav-item"><a href="faq.html" class="nav-link px-2 link-secondary">FAQs</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link px-2 active active-secundary link-secondary">About</a></li>
          </ul>
        </header>
        <div class="container-fluid pb-3 col-11 m-5">
          <div class="row">
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

              <h2 class="fw-normal">Heading</h2>
              <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
              <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

              <h2 class="fw-normal">Heading</h2>
              <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
              <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

              <h2 class="fw-normal">Heading</h2>
              <p>And lastly this, the third column of representative placeholder content.</p>
              <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
        </div>
    <nav class="navbar fixed-bottom navbar-expand-sm ">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <input class="btn btn-primary align-items-left" type="button" value="<<Back" onclick="window.location.href='index.html';">
          </ul>
          <ul class="nav">
            <input class="btn btn-primary align-items-right" type="button" value="Continue>>" onclick="window.location.href='features2.html';">
          </ul>
        </div>
    </nav>
  </div>
</div>
  </body>

</html>
