<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Model Selection | AIdentify </title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
    <style> div > a:hover {
        color:white !important;
        background-color: #11c7c3d9 !important;
    }
    div > a:hover span {
    color:white !important;}
    </style>

  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="static/img/aidentify-icon-only.png" class="bi me-2" width="35" height="35"><use xlink:href="#bootstrap"></use></img>
                <span class="fs-4">AIdentify
                </span>
          </a>

            <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link px-2 link-secondary" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/features1" class="nav-link px-2 link-secondary">Overview</a></li>
            <li class="nav-item"><a href="/features2" class="nav-link px-2 link-secondary">Data</a></li>
            <li class="nav-item"><a href="/modelselection" class="nav-link active active-secundary px-2 link-secondary" style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">Model</a></li>
            <li class="nav-item"><a href="/team" class="nav-link px-2 link-secondary">Team</a></li>
            </ul>


        </header>
        <div class="container-fluid pb-3">
          <div class="container px-4 py-5" id="hanging-icons">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="text-align: left !important;">
              <div class="col d-flex">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                </div>
                <div>
                  <h3 class="fs-2">Model 1</h3>
                  <p> <strong> “Custom” model</strong>: CNN architecture designed by AIdentify developers </p>
                  <p> </p><strong>  Accuracy</strong>: 71% </p>
                  <p> <strong>  Input</strong>: 80x80 pixels </p>
                  <p> <strong>  Hidden</strong>: 20 layers </p>
                  <p> <strong>  Output</strong>: list of 8 values, each corresponding to an emotion </p>
                   <a href="/mod1" class='btn btn-light btn-outline-primary' style="border-color:#11c7c3d9 !important; color: #11c7c3d9 !important;"><span>Run Model 1 >> </span></a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                </div>
                <div class="feature col float-left">
                  <h3 class="fs-2">Model 2</h3>
                  <p> <strong> “Pretrained” model</strong>: additional layers added to a pre-trained model </p>
                  <p> <strong>  Accuracy</strong>: 81% </p>
                  <p> <strong>  Input</strong>: 75x75 pixels </p>
                  <p> <strong>  Hidden</strong>: Densenet-169 + 8 additional layers </p>
                  <p> <strong>  Output</strong>: list of 8 values, each corresponding to an emotion </p>                    <a href="/mod2" class='btn btn-light btn-outline-primary' style="border-color:#11c7c3d9 !important; color: #11c7c3d9 !important;"><span>Run Model 2 >></span></a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
                </div>
                <div class="feature col float-left">
                  <h3 class="fs-2">Model 3</h3>
                  <p> <strong> “Model I + LDA” model</strong>: allows for visual representation of emotions </p>
                  <p> <strong>  Accuracy</strong>: 71% </p>
                  <p> <strong>  Input</strong>: 80x80 pixels </p>
                  <p> <strong>  Hidden</strong>: Model 1 + Linear Discriminant Analysis (LDA) </p>
                  <p> <strong>  Output</strong>: list of 2 values that can be plotted </p>                  <a href="/mod3" class='btn btn-light btn-outline-primary' style="border-color:#11c7c3d9 !important; color: #11c7c3d9 !important;"><span>Run Model 3 >></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    <nav class="navbar fixed-bottom navbar-expand-sm ">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <a href="/cnn" class='btn btn-primary align-items-left' style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">&lt;&lt;Back</a>         </ul>
          </ul>
          <ul class="nav">
            <a href="/furtherinfo" class='btn btn-primary' style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">Continue>></a>
          </ul>
        </div>
    </nav>
  </div>
</div>
  </body>

</html>
