<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <title>Team | AIdentify</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
    <style> div > a:hover {
      color:white !important;
      background-color: #11c7c3d9 !important;
  }
  div > a:hover span {
  color:white !important;}
  </style>
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="static/img/aidentify-icon-only.png" class="bi me-2" width="35" height="35"><use xlink:href="#bootstrap"></use></img>
                <span class="fs-4">AIdentify
                </span>
          </a>


          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link px-2 link-secondary" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/features1" class="nav-link px-2 link-secondary">Overview</a></li>
            <li class="nav-item"><a href="/features2" class="nav-link px-2 link-secondary">Data</a></li>
            <li class="nav-item"><a href="/modelselection" class="nav-link px-2 link-secondary">Model</a></li>
            <li class="nav-item"><a href="/team" class="nav-link active active-secundary px-2 link-secondary" style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">Team</a></li>
            </ul>


        </header>



        <div class="container-fluid pb-3 col-11 m-5">
          <div class="row">
            <div class="col-lg-4">
              <img src="static/img/profile_pics/profile_alba.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140">

              <h2 class="fw-normal">Alba Gutierrez Pedemonte</h2>
              <p>Alba has a background in Physics, worked as a consultant and is a fantastic data scientist!</p>
              <p><a class="btn btn-primary" style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;" href="https://www.linkedin.com/in/albagutierrezpedemonte/">LinkedIn</a></p>
              <p><a class="btn btn-light btn-outline-primary" style="border-color:#11c7c3d9 !important; color: #11c7c3d9 !important;" href="mailto: albaguti@gmail.com"><span>E-mail</span></a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="static/img/profile_pics/profile_louis.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140">

              <h2 class="fw-normal">Louis Arts</h2>
              <p>Louis recently graduated with a Bachelor's in science (specialization in physics and mathematics) from Maastricht University. He plans to start a Master's in Astrophysics soon.</p>
              <p><a class="btn btn-primary" style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;" href="https://www.linkedin.com/in/louis-arts-a768221a6/">LinkedIn</a></p>
              <p><a class="btn btn-light btn-outline-primary" style="border-color:#11c7c3d9 !important; color: #11c7c3d9 !important;" href="mailto: artslouis@gmail.com"><span>E-mail</span></a></p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="static/img/profile_pics/profile_patrick.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140">
              <h2 class="fw-normal">Patrick Hofbauer</h2>
              <p>Patrick has a Bachelor's in economics from UCLA and a Master's in Finance from the University of Innsbruck. He plans to apply his newfound data science skills in the financial industry.</p>
              <p><a class="btn btn-primary" style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;" href="https://www.linkedin.com/in/patrick-hofbauer/">LinkedIn</a></p>
              <p><a class="btn btn-light btn-outline-primary" style="border-color:#11c7c3d9 !important; color: #11c7c3d9 !important;" href="mailto: patrick.hofbauer15@gmail.com"><span>E-mail</span></a></p>

            </div><!-- /.col-lg-4 -->
          </div>
        </div>
    <nav class="navbar fixed-bottom navbar-expand-sm ">
        <div class="container d-flex flex-wrap">
        </div>
    </nav>
  </div>
</div>
  </body>

</html>
