<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Preparing the Data | AIdentify</title>
    <link rel="icon" type="image/x-icon" href="staticimg/favicon.png">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="static/img/aidentify-icon-only.png" class="bi me-2" width="35" height="35"><use xlink:href="#bootstrap"></use></img>
                <span class="fs-4">AIdentify
                </span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link px-2 link-secondary" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/features1" class="nav-link px-2 link-secondary">Overview</a></li>
            <li class="nav-item"><a href="/features2" class="nav-link active active-secundary px-2 link-secondary" style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">Data</a></li>
            <li class="nav-item"><a href="/modelselection" class="nav-link px-2 link-secondary">Model</a></li>
            <li class="nav-item"><a href="team.html" class="nav-link px-2 link-secondary">Team</a></li>
            </ul>

        </header>
        <div class="container-fluid pb-3">
          <div class="d-grid gap-3" style="grid-template-columns: 0.8fr 1fr;">
            <div >
              <div class="text-md-start"><h4>Preparing the Data</h4>
                <p> <strong> 1. Data Cleaning </strong> </p>
                <p> The first step in preparing our data was to clean it. Cleaning data is an important part of any data preparation process – it usually involves correcting or removing incorrect, wrongly formatted, duplicated or incomplete data within a dataset. </p>

                  <p> In our case data cleaning involved dropping clearly mistaken images (i.e., those not showing faces), and dropping images where the labels did not seem appropriate (e.g., a face showing surprise but labelled as “sad”). </p>

                <p> <strong> 2. Resizing & Haar Cascade filtering </strong> </p>
                <p>  The next step in our data preparation process involved using the Haar cascade filter to detect and then essentially crop out the face from the images (i.e., getting rid of the background). Then we resized the images so that they had a uniform standard size (i.e., 200x200 pixels). </p>
                <p> <strong> 3. Grayscaling/Normalizing </strong></p>
                <p> Next, we made sure to change all images from color (RGB) to grayscale (one color channel). We also normalized the pixel intensity by dividing each pixel by 255 (each color has 255 parameter values based on color intensity).</p>
                <p> <strong> 4. Augmentation (mirrroing & rotating) </strong></p>
                <p> Since the dataset was slightly imbalanced in favor of happy, neutral, and surprised emotions, we wanted to boost the size of other emotion classes (e.g., fear, disgust, contempt). We did this by augmenting the already existing data by mirroring and rotating the underrepresented emotion class images. This allowed us to have a more balanced dataset for training the models. </p>
              </div>
            </div>
            <div>
                <div class="bg-light border rounded-3">
                  <img src="static/img/page_imgs/data_prep.png" class="img-fluid" alt="Responsive image">
                </div>
    <nav class="navbar fixed-bottom navbar-expand-sm ">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <a href="/features2" class='btn btn-primary align-items-left' style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">&lt;&lt;Back</a>         </ul>
          </ul>
          <ul class="nav">
            <a href="/visualize" class='btn btn-primary' style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">Continue>></a>
          </ul>
        </div>
    </nav>
  </div>
</div>
  </body>

</html>
