<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Aidentify, treats predictor </title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon_2.ico">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="{{url_for('index')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="static/img/Aidentify_logo_small.png" class="bi me-2" width="45" height="45"><use xlink:href="#bootstrap"></use></img>
                <span class="fs-4">Aidentify
                </span>
          </a>
          <ul class="nav nav-pills">
          <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link px-2 link-secondary" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="{{url_for('features1')}}" class="nav-link active active-secundary px-2 link-secondary">Features</a></li>
          <li class="nav-item"><a href="{{url_for('model1')}}" class="nav-link  px-2 link-secondary">Prediction</a></li>
          <li class="nav-item"><a href="faq.html" class="nav-link px-2 link-secondary">FAQs</a></li>
          <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link px-2 link-secondary">About</a></li>
          </ul>
        </header>
        <div class="container-fluid pb-3">
          <div class="d-grid gap-3" style="grid-template-columns: 0.8fr 1fr;">
            <div >
              <div class="text-md-start"><h4>Getting the data</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Condimentum lacinia quis vel eros.
                  Sit amet nisl purus in. Quam lacus suspendisse faucibus interdum posuere lorem
                  ipsum dolor sit. Est sit amet facilisis magna etiam tempor orci eu lobortis.
                  Proin fermentum leo vel orci porta. Cras adipiscing enim eu turpis egestas pretium
                  aenean pharetra. Nunc faucibus a pellentesque sit amet porttitor eget. Amet est
                  placerat in egestas erat imperdiet sed. Urna duis convallis convallis tellus id
                  interdum velit. Turpis egestas maecenas pharetra convallis posuere morbi leo urna.
                </p>
                </div>
            </div>
            <div>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="25%" height="25%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">

                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="30%" height="30%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="30%" height="30%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="30%" height="30%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="30%" height="30%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="30%" height="30%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="30%" height="30%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="30%" height="30%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <nav class="navbar fixed-bottom navbar-expand-sm ">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <a href="{{url_for('features1')}}" class='btn btn-primary align-items-left'>&lt;&lt;Back</a>
          </ul>
          <ul class="nav">
            <a href="{{url_for('features3')}}" class='btn btn-primary align-items-right'>Continue>></a>
          </ul>
        </div>
    </nav>
  </div>
</div>
  </body>

</html>
