<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Further Info | AIdentify</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="static/img/aidentify-icon-only.png" class="bi me-2" width="35" height="35"><use xlink:href="#bootstrap"></use></img>
                <span class="fs-4">AIdentify
                </span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link px-2 link-secondary" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/features1" class="nav-link px-2 link-secondary">Overview</a></li>
            <li class="nav-item"><a href="/features2" class="nav-link px-2 link-secondary">Data</a></li>
            <li class="nav-item"><a href="/modelselection" class="nav-link px-2 link-secondary">Model</a></li>
            <li class="nav-item"><a href="/team" class="nav-link px-2 link-secondary">Team</a></li>
            </ul>

        </header>
        <div class="container-fluid pb-3">
          <div class="d-grid gap-3" style="grid-template-columns: 3fr 0.1fr;">
            <div >
              <div class="text-md-start"><h4>Key Learnings, Limitations and Possible Applications</h4>
                <p> <ul>
                  <li>CNNs are very effective at facial emotion recognition!</li>
                  <li>Multiple faces emotion identification and charting via CNNs at the same time still a work in progress</li>
                  <li>Personalized emotion recognition → “baseline concept”</li>
                  <li>Application areas could include:</li>
                    <ul>
                      <li>Digital advertising</li>
                      <li>Gaming</li>
                      <li>eLearning</li>
                      <li>Measurement of effectiveness of therapeutic treatment</li>
                    </ul>
                  </ul> </p>
                </div>
            </div>
    <nav class="navbar fixed-bottom navbar-expand-sm ">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <a href="/modelselection" class='btn btn-primary align-items-left' style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">&lt;&lt;Back</a>         </ul>
          </ul>
          <ul class="nav">
            <a href="/team" class='btn btn-primary' style="border-color:#11c7c3d9 !important; background-color: #11c7c3d9 !important;">Continue>></a>
          </ul>
        </div>
    </nav>
  </div>
</div>
  </body>

</html>
